<a href="https://colab.research.google.com/github/Mayro19/CPEN-21A-CPE-1-1/blob/main/DEMO1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Introduction to Python Programming

In [1]:
b = "sally"
print(b)

sally

##Naming Variables

In [2]:
b = "sally"
print(type(b))

<class 'str'>

In [5]:
a = "sally"
A = "john"
B = "miro"
print(a)
print(A)
print(B)

sally
john
miro

In [7]:
a, b, c = 0, 1, 2
print(type(a))          #This is a program using type function
print(b)
print(c)

<class 'int'>
1
2

In [6]:
a = 4.50
print(type(a))

<class 'float'>

###One value to multiple variables

In [8]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

In [9]:
x = "enjoying"
print("Python programming is super " + x)

Python programming is super enjoying

In [10]:
x = 4
y = 5
print(x+y)
print(x-y)

9
-1

In [11]:
(x>y or x == x)      #This is an example of program using a logical operator

True

In [12]:
not(x>y or  x == x)

False